
@import url(../src/assets/css/modal.css);
:root {
  --dark: #114d70;
  --pastel-blue: #c8d8e4;
  --white: #fff;
  --semi-white: #f2f2f2;
  --base: #ffffff;
  --super-dark: #1e6091;
}
body,#app,html {
  margin: 0;
  padding: 0;
  top: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #333;
}

.custom-badge {
  font-size: 13px;
}


  .custom-green{
    background-color: #95d5b2 !important;
  }
  .custom-green-3{
    background-color: #80e183dc !important;
  }
  .custom-yellow{
    background-color: #ffd60a !important;
  }
  .custom-yellow-2{
    background-color: #edc55b !important;
  }

  .custom-info{
    background-color: #50a6c0 !important;
  }

  .custom-red{
    background-color: #ff0000 !important;
  }
  .custom-red-2{ 
    background-color: #4a0404 !important;
  }

  .custom-blue{
    background-color: #219ebc !important;
  }
  
  .custom-violet{
    background-color: #9e0059 !important;
  }
  
  .custom-orange{
    background-color: #d8572a !important;
  }
  .custom-red-2{
    background-color: #ae2631 !important;
  }
  .custom-green-2{
    background-color: #55833b !important;
  }
  .custom-v{
    background-color: #ec7c6c !important;
  }
  .custom-sis{
    background-color: #0077b6 !important;
  }
  .custom-crms{
    background-color: #a8505d !important;
  }
  .custom-tckt{
    background-color: var(--dark-mint) !important;
  }
  .custom-pink{
    background-color: #fb6f92 !important;
  }
  .custom-orange-2{
    background-color: #9365cb !important;
  }
  